.App {
  text-align: left;
  background-color: #6bbaec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color:whitesmoke;
  border-radius: 2px solid red;
}

 
